.button {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
}
.button button {
	height: 40px;
	margin-left: 10px;
}
header {
	display: flex;
	margin-top: 15px;
	justify-content: space-between;
	width: 100%;
}
header button {
	height: 40px;
}
header button span {
	text-align: center;
	line-height: 17px;
}

.week {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}
.day {
	width: 25%;
}
#priorities {
	display: flex;
	align-items: center;
	justify-items: center;
}
#prorities span,
input {
	margin: 12px 24px;
}
.addTask {
	border: 2px black solid;
	width: 100%;
	padding: 12px 60px;
}
.addTask input {
	margin-left: 12px;
}
#isRepeatTask {
	margin-left: 6px;
	margin-top: 8px;
}
#isRepeatTask_label {
	width: auto;
	padding-right: 0px;
}
#importance {
	margin-top: 1px;
	margin-right: 5px;
}
/* .col{
    padding-left: 2px;
} */
.checkbox {
	padding-left: 3px;
	display: flex;
	align-items: flex-start;
	/* justify-content: center; */
}
.labels {
	display: flex;
	margin-bottom: 8px;
	margin-top: 8px;
}

#hight {
	margin-left: 15px;
}

#low {
	margin-left: 5px;
}
.col-10 {
	margin-bottom: 8px;
}
.day input{
    margin-left:  3px;
}
.day span{
	display: block;
	text-align: center;
}